<div class="teacher-side-bar">
  <ul class ="teacher-menu">
    <li routerLink="/laveApplication" class="button"><strong>Apply for a leave</strong></li>
    <li routerLink="/salarysheet" class="button"><strong>Check salary</strong></li>
    <li routerLink="/studencedetails" class="button"><strong>Get student details</strong></li>
    <li routerLink="/attendancesheet" class="button"><strong>Mark the attendance</strong></li>
    <li routerLink="/advancePayment" class="button"><strong>Ask for Advance payment</strong></li>
    <li routerLink="/maintananceRequest" class="button"><strong>Request for maintenance</strong></li>
    <li routerLink="/homework" class="button"><strong>Inform about Homework</strong></li>
  </ul>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>
