
<div class="background">
<div class="header"><h1 class="first-page" align="center">Nursary</h1></div>

<div class="topnav">

  <nav><a routerLink ="/home" id="home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive='active'><strong>Home</strong>  </a></nav>
  <nav><a routerLink ="/AccountLogin" id="logIn" [routerLinkActiveOptions]="{exact:true}" routerLinkActive='active'><strong> Log In</strong></a></nav>
  <nav><a routerLink ="/news" id="news" [routerLinkActiveOptions]="{exact:true}" routerLinkActive='active'><strong>News</strong></a></nav>
  <nav><a routerLink ="/contact" id="contact" [routerLinkActiveOptions]="{exact:true}" routerLinkActive='active'><strong>Contact</strong></a></nav>
  <nav><a routerLink ="/about" id="about" [routerLinkActiveOptions]="{exact:true}" routerLinkActive='active'><strong>About</strong></a></nav>

</div>

</div>
<router-outlet></router-outlet>
