
<form >
  <fieldset>
    <legend>Leave Application:</legend>
    First name:<br>

    <input type="text" name="firstname" value="Mickey">
    <br>
  	Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br>
    Starting date:<br>
    <br>
    Ending date:<br>
    <input type="date" name="Ending date" >
    <br><br>
    <button class="submit">submit</button><br><br><br><br><button class="cancel" margin-left="0px">cancel</button>
    <div class="text" margin-right="30px">
      Reason :<br>
      <input type="text" name="reason" value="Mickey">

    </div>
    </fieldset>
</form>
