<br><br><br><br>
<div class="background">
   <br><br><br>
  <form class="login" (ngSubmit)="onSubmit()" #loginForm="ngForm">

  <div class="container">
    <label for="name"><b>Username</b></label>
    <input  required [(ngModel)]="account.userName" id="name" type="text" placeholder="Enter User Id" #name="ngModel">

    <label for="password"><b>Password</b></label>
    <input required [(ngModel)]="account.password" id="key" type="password" placeholder="Enter Password" #password="ngModel" >

    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid"value="Submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>
