<h1><b>Our Aim</b></h1>
<br><br><div class="aim">
  Ackworth School’s purpose is to create a happy and secure environment within the Nursery school, in which all pupils realise and develop their own special abilities in constant awareness of the needs of others.

We recognise that every child is unique and therefore we fully embrace and support ‘Every Child Matters’.  We believe that the Quaker ethos is an integral part of a child's educational experience.

We follow the Early Years Foundation Stage Principles in providing an inclusive education tailored to individual needs, both through ability and interest.

We are committed to facilitating active learning opportunities both using indoor and outdoor opportunities and benefits from most of the facilities on the main school site, in particular specialist teaching staff for Forest School sessions, swimming and music workshops.

We believe every child deserves the best possible start in life to support and fulfil their potential.  We aim to provide a warm, loving and stimulating environment which will promote all areas of your child’s development.

Your child will experience a broad and balance curriculum which will be differentiated to suit his or her abilities, interests and personality. When planning lessons and activities, our emphasis is on fun, enjoyment and challenge.
 We aim to encourage your child to adopt a positive attitude towards learning which will provide a solid foundation for their future education.

Aims of the Early Years Foundation Stage at Ackworth School are:
<ol>
  <li>To provide quality learning experiences for all children, which are structured, balanced and relevant to the child and related to the real world.</li>

  <li>To provide a curriculum which takes account of, and responds to, the child’s individual developmental need and allows them to make progress related to their different abilities.</li>

  <li>To ensure that children have positive experiences of success in order to give them confidence and motivation for learning in the future.  To work in a happy and caring environment and to be aware of each other’s social needs.</li>

  <li>To provide a practical comprehensive Early Years Foundation Stage Curriculum, which is continued into the Reception Year, ensuring consistent and coherent transition from Nursery to Reception.</li>

  <li>To create a partnership with parents to support and enhance the development of the children, reflecting co-operation and respecting equal opportunities.</li>

  <li>To demonstrate the Quaker ethos and values, and to respect other faiths and traditions.</li>

</ol>


</div>
